*{    
    margin: 0;    
    background-color: #FAFFF1;
    box-sizing: border-box;    
    font-family: 'custom-font';
}
@font-face 
{    font-family: 'custom-font';    
    src: url('Inter-BlackItalic.ttf');  
}
nav{    
    width: 100%;    
    padding: 10px 0;    
    display: flex;    
    align-items: center;    
    content: space-between;
}
nav ul li a.webshopName{    
    font-size: 35px;    
    text-align: center;
}
nav ul li a.contact{    
    font-size: 20px;    
    align-items: center;
}
.centerNav{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 20px;
}
.close{    
    margin: 10px 10px;
}

nav ul li a.search{    
    padding: 14px 76px;
}

.topnav {    
    display: flex;    
    border-radius: 25px;    
    background-color: #FAFFF1;    
    overflow: hidden;  
}
.topnav a {    
    float: left;    
    background-color: #FFC09F;    
    color: #000000;    
    text-align: center;    
    padding: 14px 14px;    
    text-decoration: none;    
    font-size: 20px;  
}
.topnav a:hover {    
    background-color: #E1AB8F;    
    color: black;  
}  
nav ul{    
    width: 100%;    
    display: flex;  
}
nav ul li{    
    border-radius: 25px;    
    display: inline-block;    
    list-style: none;    
    margin: 10px 16px;
}
li img{    
    height: 20px;    
    width: 20px;    
    background-color: #FFC09F;    
    align-items: center;    
}
nav ul li a{    
    display: flex;    
    align-items: center;     
    border-radius: 25px;    
    text-decoration: none;    
    color: #333;    
    font-weight: 400;
} 
.content{
    background-color: #FAFFF1;

}
